<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<% if session[:user_id] == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

<h2>
<%= (@user.id == session[:user_id]) ? 'Your' : @user.name + "'s"  %>
 tweets</h2>

<% if @user.id == session[:user_id] %>
<% form_for(Status.new) do |f| %>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text, :size => "48x3" %>
  </p>
  <p>
    <%= f.submit 'Tweet' %>
  </p>
<% end %>
<% end %>

<dl>
<% @user.statuses.each do |stat| %>
<dt>Tweet</dt>
<dd>
<p><%= stat.text %></p>
<p><%= stat.created_at %></p>
<p><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></p>
</dd>
<% end %>
</dl>
